.main-navigation {
background: green
}
.main-navigation ul {
  list style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.main-navigation a {
  text-decoration: none;
  color: #000;
  display: block;
  transition: .3s background-color;
}

.main-navigation a:hover {
  background-color: #00FF00;
}

.main-navigation a.active{
  background-color: #000000;
  color: #FFFFFF;
  cursor: default;
}
   
.main-navigation li {
  font-size: 1.5em;
  line height: 20px;
  height: 20px;
  border-bottom: 2px solid; yellow
}
img {
  max-width 00%
}
